altinn-soknad-skjema/src/main/resources/xsd/NAV_MedlemskapArbeidEOS_M_2020-11-11_6320_46081_SERES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:seres="http://seres.no/xsd/forvaltningsdata"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
   <xsd:annotation>
      <xsd:documentation>
         <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN"/>
         <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23"/>
         <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
         <xsd:attribute name="generert" fixed="2020-11-11T12:58:56.128+01:00"/>
         <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
         <xsd:attribute name="namespace" fixed="http://seres.no/xsd/NAV/MedlemskapArbeidEOS_M/2020"/>
         <xsd:attribute name="meldingsnavn" fixed="melding"/>
         <xsd:attribute name="domenenavn" fixed="NAV"/>
         <xsd:attribute name="modellnavn" fixed="MedlemskapArbeidEOS_M"/>
         <xsd:attribute name="metamodellversjon" fixed="1.2"/>
         <xsd:attribute name="guid" fixed="true"/>
         <xsd:attribute name="orid" fixed="false"/>
         <xsd:attribute name="nillable" fixed="true"/>
         <xsd:attribute name="tillat-gjenbruk" fixed="true"/>
         <xsd:attribute name="elementtype" fixed="true"/>
         <xsd:attribute name="forvaltningsdata" fixed="true"/>
         <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
         <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false"/>
         <xsd:attribute name="ft_guid_som_attributt" fixed="false"/>
         <xsd:attribute name="sem-ref" fixed="false"/>
         <xsd:attribute name="kodebibliotek" fixed="false"/>
         <xsd:attribute name="spraak" fixed=""/>
         <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2"/>
      </xsd:documentation>
   </xsd:annotation>
   <xsd:element name="melding" type="MedlemskapArbeidEOS_M"/>
   <xsd:complexType name="MedlemskapArbeidEOS_M" seres:elementtype="Meldingsmodell"
                    seres:guid="http://seres.no/guid/NAV/Meldingsmodell/EkspertBistand_M/768882">
      <xsd:sequence>
         <xsd:element name="Innhold" type="Innhold" seres:elementtype="Meldingsdel"
                      seres:guid="http://seres.no/guid/NAV/Meldingsdel/Innhold/768876"/>
      </xsd:sequence>
      <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES"/>
      <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="6320"/>
      <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="46081"/>
      <xsd:anyAttribute/>
   </xsd:complexType>
   <xsd:complexType name="Innhold" seres:elementtype="Meldingsdel"
                    seres:guid="http://seres.no/guid/NAV/Meldingsdel/Innhold/768876">
      <xsd:sequence>
         <xsd:element name="arbeidsgiver" type="Arbeidsgiver" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/arbeidsgiver/770072"/>
         <xsd:element name="arbeidstaker" type="Arbeidstaker" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap//770071"/>
         <xsd:element name="midlertidigUtsendt" type="MidlertidigUtsendt" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/ansettelsesforholdet/770321"/>
         <xsd:element name="fullmakt" type="Fullmakt" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/fullmakt/771363"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Arbeidsgiver" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Arbeidsgiver/768875">
      <xsd:sequence>
         <xsd:element name="virksomhetsnummer" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/organisasjonsnummer/768872"/>
         <xsd:element name="kontaktperson" type="Kontaktperson" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap//770291"/>
         <xsd:element name="samletVirksomhetINorge" type="SamletVirksomhetINorge" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/opplysninger/770312"/>
         <xsd:element name="offentligVirksomhet" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/offentligVirksomhet/773973"/>
         <xsd:element name="virksomhetsnavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/virksomhetsnavn/779624"/>
         <xsd:element name="adresse" type="ArbeidsgiverAdresse" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/adresse/779651"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Kontaktperson" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Kontaktperson/770290">
      <xsd:sequence>
         <xsd:element name="kontaktpersonNavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/kontaktpersonNavn/770289"/>
         <xsd:element name="kontaktpersonTelefon" type="Telefonnummer" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/kontaktpersonTelefon/770288"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SamletVirksomhetINorge" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Opplysninger/770311">
      <xsd:sequence>
         <xsd:element name="antallAnsatte" type="Tall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/antallAnsatte/770310"/>
         <xsd:element name="antallAdministrativeAnsatteINorge" type="Tall" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/antallHRAnsatte/770309"/>
         <xsd:element name="antallUtsendte" type="Tall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/antallUtsendteAnsatte/770308"/>
         <xsd:element name="andelOmsetningINorge" type="Tall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/andelOmsetning/770306"/>
         <xsd:element name="andelKontrakterInngaasINorge" type="Tall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/andelOppdragskontrakter/770305"/>
         <xsd:element name="andelOppdragINorge" type="Tall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/andelOppdrag/770304"/>
         <xsd:element name="andelRekrutteresINorge" type="Tall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/andelRekrutteresINorge/776157"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArbeidsgiverAdresse" seres:elementtype="Datakomplekstype"
                    seres:guid="http://seres.no/guid/NAV/Datakomplekstype/ArbeidsgiverAdresse/779656">
      <xsd:sequence>
         <xsd:element name="gate" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/gate/779655"/>
         <xsd:element name="land" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/land/779654"/>
         <xsd:element name="postkode" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/postkode/779653"/>
         <xsd:element name="poststed" type="Poststed" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/poststed/779652"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Arbeidstaker" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Arbeidstaker/768867">
      <xsd:sequence>
         <xsd:element name="foedselsnummer" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fødselsnummer/768864"/>
         <xsd:element name="foedested" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/foedested/770074"/>
         <xsd:element name="foedeland" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/foedeland/770073"/>
         <xsd:element name="reiserMedBarnTilUtlandet" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap//770862"/>
         <xsd:element name="barn" type="Barn" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/barn/772098"/>
         <xsd:element name="etternavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/etternavn/774768"/>
         <xsd:element name="utenlandskIDnummer" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/utenlandskIDnummer/775095"/>
         <xsd:element name="fulltNavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fulltNavn/779650"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Barn" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Barn/772097">
      <xsd:sequence>
         <xsd:element name="barnet" nillable="true" minOccurs="0" maxOccurs="unbounded"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/barnet/772096">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="Barnet">
                     <xsd:anyAttribute/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Barnet" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Barnet/772095">
      <xsd:sequence>
         <xsd:element name="foedselsnummer" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/foedselsnummer/772094"/>
         <xsd:element name="etternavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/navn/772093"/>
         <xsd:element name="navn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fornavn/772627"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MidlertidigUtsendt" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Ansettelsesforholdet/770303">
      <xsd:sequence>
         <xsd:element name="arbeidsland" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/arbeidsland/774942"/>
         <xsd:element name="andreArbeidsgivereIUtsendingsperioden" type="SvaralternativJaNei"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/andreArbeidsgivereIUtsendingsperioden/772629"/>
         <xsd:element name="beskrivArbeidSisteMnd" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/beskrivArbeidSisteMnd/771494"/>
         <xsd:element name="mottaYtelserNorge" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/mottarYtelseFraNavIPerioden/770384"/>
         <xsd:element name="mottaYtelserUtlandet" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/mottaYtelserUtlandet/774072"/>
         <xsd:element name="loennetArbeidMinstEnMnd" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/loennetArbeidMinstEnMnd/771495"/>
         <xsd:element name="skattepliktig" type="SvaralternativJaNei" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/erSkattepliktigIPerioden/770387"/>
         <xsd:element name="beskrivelseAnnetArbeid" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/beskrivelseAnnetArbeid/774869"/>
         <xsd:element name="utenlandsoppdraget" type="Utenlandsoppdraget" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/utenlandsoppdraget/774028"/>
         <xsd:element name="loennOgGodtgjoerelse" type="LoennOgGodtgjoerelse" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/loennOgGodtgjoerelse/774032"/>
         <xsd:element name="virksomhetIUtlandet" type="VirksomhetIUtlandet" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/virksomhetIUtlandet/774077"/>
         <xsd:element name="arbeidssted" type="Arbeidssted" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/arbeidssted/774793"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Utenlandsoppdraget" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Utenlandsoppdraget/774027">
      <xsd:sequence>
         <xsd:element name="periodeUtland" type="Tidsrom" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/periodeUtland/770301"/>
         <xsd:element name="samletUtsendingsperiode" type="Tidsrom" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/utsendings/770299"/>
         <xsd:element name="sendesUtOppdragIUtlandet" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/sendesArbeidstakerTilUtlandForArbeid/770302"/>
         <xsd:element name="ansattEtterOppdraget" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fortsattAnsattINorgeEtterUtsendingsperiode/772957"/>
         <xsd:element name="ansattForOppdragIUtlandet" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/erArbeidstakerAnsattIForbindelseMedOppholdUtland/770329"/>
         <xsd:element name="erArbeidstakerAnsattHelePerioden" type="SvaralternativJaNei"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/erArbeidstakerAnsattHelePerioden/770328"/>
         <xsd:element name="drattPaaEgetInitiativ" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/tokArbeidstakerInitiativTilUtsending/772630"/>
         <xsd:element name="erstatterTidligereUtsendte" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/erstatterArbeidstakerTidligereUtsendte/770300"/>
         <xsd:element name="naeringsGruppe" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/naeringsGruppe/774795"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Tidsrom" seres:elementtype="Datakomplekstype"
                    seres:guid="http://seres.no/guid/NAV/Datakomplekstype/Tidsrom/770315">
      <xsd:sequence>
         <xsd:element name="periodeFra" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/periodeFra/770314"/>
         <xsd:element name="periodeTil" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/periodeTil/770313"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LoennOgGodtgjoerelse" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/LoennOgGodtgjoerelser/774031">
      <xsd:sequence>
         <xsd:element name="norskArbgUtbetalerLoenn" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/utbetalesLoennForHelePerioden/770327"/>
         <xsd:element name="utlArbgUtbetalerLoenn" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/utbetalesDetLoennFraUtenlandskForetak/770338"/>
         <xsd:element name="utlArbTilhorerSammeKonsern" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/erUtenlandskForetakDelAvArbeidsgiversKonsern/770337"/>
         <xsd:element name="mottarNaturalytelser" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/vilArbeidstakerMottaNaturalytelser/770334"/>
         <xsd:element name="samletVerdiNaturalytelser" type="Desimaltall" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/samletVerdiNaturalytelser/774790"/>
         <xsd:element name="trukketTrygdeavgift" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/trekkesTrygdeavgiftForHelePerioden/770349"/>
         <xsd:element name="betalerArbeidsgiveravgift" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/betalesArbeidsgiveravgiftForHelePerioden/770350"/>
         <xsd:element name="loennUtlArbg" type="Desimaltall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bruttoLoennUtland/770335"/>
         <xsd:element name="loennNorskArbg" type="Desimaltall" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bruttoLoennInnland/770336"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="VirksomhetIUtlandet" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/VirksomhetIUtlandet/774076">
      <xsd:sequence>
         <xsd:element name="navn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/navn/774075"/>
         <xsd:element name="registreringsnummer" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/registreringsnummer/774074"/>
         <xsd:element name="adresse" type="PostadresseUtland" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/adresse/774073"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PostadresseUtland" seres:elementtype="Datakomplekstype"
                    seres:guid="http://seres.no/guid/NAV/Datakomplekstype/PostadresseUtland/770080">
      <xsd:sequence>
         <xsd:element name="gatenavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/adresselinje1/770078"/>
         <xsd:element name="by" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/adresselinje2/770079"/>
         <xsd:element name="postkode" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/postkode/770323"/>
         <xsd:element name="region" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/region/770322"/>
         <xsd:element name="land" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/land/770077"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Arbeidssted" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Arbeidssted/774792">
      <xsd:sequence>
         <xsd:element name="typeArbeidssted" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/typeArbeidssted/774794"/>
         <xsd:element name="arbeidPaaLand" type="ArbeidPaaLand" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/fysiskeArbeidssteder/774791"/>
         <xsd:element name="offshoreEnheter" type="OffshoreEnheter" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/offshoreEnheter/771148"/>
         <xsd:element name="luftfart" type="Luftfart" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/luftbaser/771147"/>
         <xsd:element name="skipListe" type="SkipListe" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/skipListe/775135"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArbeidPaaLand" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/ArbeidPaaLand/775618">
      <xsd:sequence>
         <xsd:element name="fysiskeArbeidssteder" type="FysiskeArbeidssteder" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/fysiskeArbeidssteder/775617"/>
         <xsd:element name="hjemmekontor" type="SvaralternativJaNei" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/hjemmekontor/775616"/>
         <xsd:element name="fastArbeidssted" type="SvaralternativJaNei" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fastArbeidssted/775619"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FysiskeArbeidssteder" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/FysiskeArbeidssteder/771108">
      <xsd:sequence>
         <xsd:element name="fysiskArbeidssted" type="FysiskArbeidssted" nillable="true" minOccurs="0"
                      maxOccurs="unbounded"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fysiskArbeidssted/771107"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FysiskArbeidssted" seres:elementtype="Datakomplekstype"
                    seres:guid="http://seres.no/guid/NAV/Datakomplekstype/FysiskArbeidssted/776156">
      <xsd:sequence>
         <xsd:element name="gatenavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/gatenavn/776155"/>
         <xsd:element name="by" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/by/776154"/>
         <xsd:element name="postkode" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/postkode/776153"/>
         <xsd:element name="region" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/region/776152"/>
         <xsd:element name="land" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/land/776151"/>
         <xsd:element name="firmanavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/firmanavn/776150"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OffshoreEnheter" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/OffshoreEnheter/771054">
      <xsd:sequence>
         <xsd:element name="offshoreEnhet" nillable="true" minOccurs="0" maxOccurs="unbounded"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/offshore/771053">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="OffshoreEnhet">
                     <xsd:anyAttribute/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OffshoreEnhet" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Offshore/770344">
      <xsd:sequence>
         <xsd:element name="enhetsType" type="OffshoreEnhetstype" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/enhetsType/771273"/>
         <xsd:element name="enhetsNavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/enhetsnavn/770977"/>
         <xsd:element name="sokkelLand" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/offshorebaseNavn/770343"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Luftfart" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Luftfart/770348">
      <xsd:sequence>
         <xsd:element name="luftfartBaser" type="Luftfartbaser" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/luftfartBaser/770845"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Luftfartbaser" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Luftfartbaser/771056">
      <xsd:sequence>
         <xsd:element name="luftfartbase" nillable="true" minOccurs="0" maxOccurs="unbounded"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/luftfartbase/771055">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="LuftfartBase">
                     <xsd:anyAttribute/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LuftfartBase" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/LuftfartBaser/770844">
      <xsd:sequence>
         <xsd:element name="hjemmebaseNavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/hjemmebaseNavn/770843"/>
         <xsd:element name="hjemmebaseLand" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/hjemmebaseLand/770842"/>
         <xsd:element name="typeFlyvninger" type="Flyvningstype" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/typeFlyvninger/770345"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SkipListe" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/SkipListe/775134">
      <xsd:sequence>
         <xsd:element name="skip" nillable="true" minOccurs="0" maxOccurs="unbounded"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/skip/775133">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="Skip">
                     <xsd:anyAttribute/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Skip" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Skip/775132">
      <xsd:sequence>
         <xsd:element name="skipNavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/skipNavn/775131"/>
         <xsd:element name="fartsomraade" type="FartsomraadeType" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fartsomraade/775130"/>
         <xsd:element name="territorialEllerHavnLand" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/territorialEllerHavnLand/775129"/>
         <xsd:element name="flaggland" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/flaggland/775128"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Fullmakt" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Fullmakt/771362">
      <xsd:sequence>
         <xsd:element name="fullmektigVirksomhetsnavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fullmaktsnavn/771360"/>
         <xsd:element name="fullmektigVirksomhetsnummer" type="Organisasjonsnummer" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fullmektigVirksomhetsnummer/771365"/>
         <xsd:element name="fullmaktFraArbeidstaker" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fullmektigRolle/771406"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Tekst/451470">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="Telefonnummer" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Telefonnummer/451469">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="Tall" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Tall/451455">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>
   <xsd:simpleType name="SvaralternativJaNei" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/SvaralternativJaNei/474066">
      <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="Poststed" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Poststed/451467">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Dato/451464">
      <xsd:restriction base="xsd:date"/>
   </xsd:simpleType>
   <xsd:simpleType name="Desimaltall" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Desimaltall/636328">
      <xsd:restriction base="xsd:decimal"/>
   </xsd:simpleType>
   <xsd:simpleType name="OffshoreEnhetstype" seres:elementtype="Datakodeliste"
                   seres:guid="http://seres.no/guid/NAV/Datakodeliste/OffshoreEnhetstype/771278">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="plattform" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/plattform/771277"/>
         <xsd:enumeration value="boreskip" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/boreskip/771274"/>
         <xsd:enumeration value="annenStasjonaerEnhet" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/annenStasjonaerEnhet/771275"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Flyvningstype" seres:elementtype="Datakodeliste"
                   seres:guid="http://seres.no/guid/NAV/Datakodeliste/Flyvningstype/771173">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="nasjonal" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/nasjonal/771172"/>
         <xsd:enumeration value="internasjonal" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/internasjonal/771171"/>
         <xsd:enumeration value="begge" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/begge/771170"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FartsomraadeType" seres:elementtype="Datakodeliste"
                   seres:guid="http://seres.no/guid/NAV/Datakodeliste/FartsomraadeType/771178">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="utenriks" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/utenriks/771177"/>
         <xsd:enumeration value="innenriks" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/innenriks/771176"/>
         <xsd:enumeration value="havn" seres:elementtype="Datakodeelement"
                          seres:guid="http://seres.no/guid/NAV/Datakodeelement/begge/771175"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Organisasjonsnummer" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Organisasjonsnummer/451456">
      <xsd:restriction base="Organisasjonsnummer_RestriksjonOrganisasjonsnummer"/>
   </xsd:simpleType>
   <xsd:simpleType name="Organisasjonsnummer_RestriksjonOrganisasjonsnummer"
                   seres:elementtype="Tegnrestriksjon"
                   seres:guid="http://seres.no/guid/NAV/Tegnrestriksjon/RestriksjonOrganisasjonsnummer/573724">
      <xsd:restriction base="xsd:string">
         <xsd:length value="9"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>